@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #f5f5f5;
  --primary: #ffffff;
  --accent: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
}

html,
body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::selection {
  background: var(--foreground);
  color: var(--background);
}
